@value secondaryColor, borderColor from 'styles/colors.css';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  line-height: 70px;
  background-color: secondaryColor;
  border-bottom: 1px solid borderColor;
}
.title {
  font-size: 30px;
  margin-right: 10px;
}
