@charset "utf-8";

.item_accordion .btn_accordion{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.item_accordion .cont_accordion{
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: max-height 1s;
}
.item_accordion .cont_accordion.is_active{
    max-height: 50em;
}
