<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MVC with Vanilla.JS</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app" v-cloak>
    <header>
      <h2 class="container">검색</h2>
    </header>

    <div class="container">
        <search-form v-bind:value="query"
            v-on:@submit="onSubmit"
            v-on:@reset="onReset"></search-form>
        <!-- @submit 발생시 app.js의 onSubmit()실행 -->

        <div v-if="submitted">
            <search-result v-bind:data="searchResult" v-bind:query="query"></search-result>
        </div>

        <div v-else>
            <tabs v-bind:tabs="tabs" v-bind:selected-tab="selectedTab" v-on:@change="onClickTab"></tabs>

            <div v-if="selectedTab === tabs[0]">
                <list v-bind:data="keywords" type="keywords" v-on:@click="onClickList"></list>
            </div>
            <div v-else>
                <list v-bind:data="historyKeywords" type="history" v-on:@click="onClickList" v-on:@remove="onRemoveList"></list>
            </div>

        </div>

    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script type="module" src="./js/app.js"></script>
</body>
</html>


<template id="search-form">
    <form v-on:submit.prevent="onSubmit" class="box_form">
      <input type="text" v-model:value="inputValue" v-on:keyup="onKeyup" class="tf-search" placeholder="검색어를 입력하세요" autofocus>
      <button type="reset" v-show="inputValue" v-on:click="onReset" class="btn-reset"></button>
    </form>
</template>

<template id="search-result">
    <div v-if="data" class="content">
        <ul>
            <li v-for="item in data">
                <img v-bind:src="item.image" alt=""> {{item.name}}
            </li>
        </ul>
    </div>
    <div v-else>
        {{query}} 검색어로 찾을 수 없습니다.
    </div>
</template>

<template id="list">
    <ul v-if="data" class="list">
        <li v-for="(item, index) in data" v-on:click="onClickList(item.keyword)">
            <span v-if="keywordType" class="number">{{index + 1}}</span>
            {{item.keyword}}
            <span v-if="historyType" class="date">{{item.date}}</span>
            <button type="button" v-if="historyType" v-on:click.stop="onRemoveList(item.keyword)" class="btn-remove"></button>
        </li>
    </ul>
    <div v-else>
        해당 검색어가 없습니다.
    </div>
</template>

<template id="tabs">
    <ul class="tabs">
      <li v-for="tab in tabs" v-bind:class="{active: tab === selectedTab}">
          <a href="#" v-on:click="onClickTab(tab)">{{tab}}</a>
      </li>
    </ul>
</template>
