@value grayColor, grayLightColor from 'styles/colors.css';

.card {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid grayColor;
  border-radius: 0.3em;
  margin-bottom: 0.8em;
}

.profile {
  width: 8em;
  height: 8em;
  margin: 1.5em;
  border-radius: 50%;
  box-shadow: 2px 1px 1px grayLightColor;
  object-fit: cover;
}

.info {
  width: 100%;
  padding-right: 1.5em;
}

.name {
  font-size: 1.2rem;
}

.company,
.title,
.email,
.message {
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.company {
  margin-bottom: 1rem;
}
.company::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: grayColor;
  transform: translateY(0.5em);
}
