@value primaryColor, secondaryColor, whiteColor, grayColor, grayDarkColor, fontColor from 'styles/colors.css';

.button {
  width: 100%;
  padding: 0.5em;
  font-size: 0.8rem;
  background-color: grayColor;
}

.button:hover {
  opacity: 0.8;
}

.primary {
  color: whiteColor;
  background-color: primaryColor;
}

.secondary {
  color: fontColor;
  background-color: secondaryColor;
}

.dark {
  color: whiteColor;
  background-color: grayDarkColor;
}

.round {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1.2rem;
}
