@value primaryColor, primaryLightColor, whiteColor from 'styles/colors.css';

.button {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
}

.primary {
  font-weight: bold;
  color: whiteColor;
  border-radius: 1.2rem;
  background-color: primaryColor;
}

.primary:hover {
  background-color: primaryLightColor;
}
