@value primaryColor, whiteColor, greyLightColor from 'styles/colors.css';

.button {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
}

.primary {
  font-weight: bold;
  border-radius: 1.2rem;
  border: 0.2rem solid primaryColor;
  background-color: whiteColor;
}

.primary:hover {
  background-color: greyLightColor;
}
