@value whiteColor, primaryColor, grayColor from 'styles/colors.css';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whiteColor;
  height: 4em;
  padding: 1em;
  border-bottom: 1px solid grayColor;
}

.title a {
  font-size: 1.5rem;
  color: primaryColor;
}

.auth a {
  display: flex;
  align-items: center;
  height: 2em;
  border: 1px solid #aaa;
  border-radius: 2em;
  font-size: 0.8rem;
  padding: 0.2em 0.5em 0.3em;
}

.nav {
  display: flex;
}

.navitem {
  position: relative;
  height: 100%;
  line-height: 4em;
}
.active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: primaryColor;
  transition: width 0.2s ease-in-out;
  content: "";
}
