@value primaryDarkColor, secondaryColor, whiteColor from 'styles/colors.css';

.banner {
  background-color: primaryDarkColor;
  text-align: center;
  padding: 1.5em 0;
  color: whiteColor;
}

.title {
  font-size: 3rem;
  color: secondaryColor;
  margin-bottom: 0.2em;
}

.text {
  margin-bottom: 0.3em;
}
