body {
  background-color: #F2E7D9;
}
.container {
  padding: 0;
  width: 410px;
  margin: 40px auto;
  box-sizing: border-box;
}
table {
  border: 5px solid #A09D95;
}

.btn {
  padding: 0;
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}
.num {
  color: #ddd;
  background-color: #70B1AA;
  border: 1px solid #A09D95;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}
.can-click {
  color: white;
  /*background-color: #27C5B4;*/
  cursor: pointer;
}
.can-click:hover {
  color: #333;
  background-color: #04FAE0;
}
.can-click:active {
  background-color: #27C5B4;
}

#blank {
  background-color: #A09D95;
}

.mix {
  margin-top: 18px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  color: #554D41;
  background-color: #FBE47A;
}
.reset {
  margin-left: 5px;
}

#count {
  display: inline-block;
  margin-right: 10px;
  float: right;
  margin-top: 33px;
  font-size: 20px;
}
