@value primaryLightColor, primaryDarkColor, secondaryColor, borderColor  from 'styles/colors.css';

.habit {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid borderColor;
}
.title {
  margin-right: 10px;
  font-size: 30px;
  font-weight: normal;
}
.button {
  margin: 3px;
  font-size: 25px;
  color: secondaryColor;
}
.trash {
  margin-left: 10px;
  color: primaryDarkColor;
}
